* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #183153; */
    background-color: #1D1D1D;
    color: white;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ---------------sidebar start------------------ */

.sidebar {
    float: left;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    width: 250px;
    height: 100vh;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar-top {
    height: 250px;
    /* background-color: #141414; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar-top img {
    border-radius: 50%;
    width: 160px;
}

.name {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 4px;
    color: #05FDD8;
    margin: 7px 0px;
}

.job-name {
    font-size: 18px;
    letter-spacing: 1.6px;
    line-height: 20px;
    color: gold;
    font-family: sans-serif;
}

.sidebar-list {
    height: 372px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sidebar-item {
    position: relative;
    width: 100%;
}

.sidebar-item:last-child {
    padding: 20px 0px;
}
.sidebar-item div {
    padding-left:25px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.sidebar-item hr {
    width: 0%;
    position: absolute;
    height: 2px;
    border: #05FDD8;
    top: 100%;
    background-color: #05FDD8;
    z-index: 1;
    transition: 0.5s;
}

.sidebar-item:hover hr {
    width: 100%;
}

.sidebar-item:hover a {
    color: gold;
}

.sidebar-link {
    padding: 21px 25px;
    color: rgb(160, 160, 160);
    display: flex;
    align-items: center;
    font-size: 17px;
    letter-spacing: 2px;
    transition: 0.3s;
    height: 100%;
}

.sidebar-item i {
    margin-right: 10px;
    font-size: 20px;
    color: #05FDD8;
    transition: 0.3s;
}

.sidebar-item div i:hover {
    transform: scale(1.5);
    color: gold;
} 

.sidebar-items {
    background-color: #141414;
}

