* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* ******************nav start********************** */

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .nav-list {
    padding: 20px 0px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav .nav-list .nav-item {
    margin-left: 30px;
}

.nav .nav-title {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
}

.nav .nav-list .nav-item a {
    font-style: normal;
    font-weight: 550;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #151517;
    transition: 0.3s;
}

.nav .nav-list .nav-item .active {
    color: #EEBF63;
}

.nav .nav-list .nav-item a:hover {
    color: #EEBF63;
}